.registration-container {
  height: 100vh;
}

.registration-card {
  max-width: 900px;
  width: 100%;
  padding: 20px;
}

.registration-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.continue-with button {
  margin-right: 10px;
}


