<div class="filters" [formGroup]="filterForm">
  <div class="filter-input">
    <span class="material-icons icon">search</span>
    <input formControlName="searchQuery" placeholder="Search for hotels..." />
  </div>

  <div class="filter-input">
    <span class="material-icons icon">person</span>
    <input
      type="number"
      formControlName="maxGuests"
      placeholder="Number of guests"
    />
  </div>

  <div class="filter-input">
    <!-- <span class="material-icons icon">room_service</span> -->
    <mat-form-field class="service-multiselect" appearance="outline">
      <mat-label>Services</mat-label>
      <mat-select formControlName="services" multiple>
        <mat-option *ngFor="let service of services" [value]="service.name">
          {{ service.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="price-range" formGroupName="priceRange">
    <label>Price per night:</label>
    <mat-slider
      min="0"
      max="1000"
      step="10"
      thumbLabel
      class="price-slider"
      formControlName="sliderValue"
      (change)="onPriceRangeChange($event)"
    ></mat-slider>
  </div>
</div>

<div class="hotel-list">
  <app-hotel-card
    *ngFor="let hotel of filteredHotels"
    [hotel]="hotel"
  ></app-hotel-card>
</div>
