@import "../../../styles.scss";

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 2rem auto;
  background-color: #fff;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  .profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;

    .profile-image {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 2px solid #35a8e0;
      object-fit: cover;
    }

    .profile-name {
      margin-top: 0.5rem;
      font-size: 1.5rem;
      color: #222222;
    }
  }

  .profile-details {
    text-align: left;
    width: 100%;

    p {
      margin: 0.5rem 0;
      font-size: 0.9rem;
      color: #6c757d;
    }
  }
}

.cta-btn {
  padding: 0.8rem 1.5rem;
  background-color: $primary-color;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $light-gray;
  }
}
