@if(isLoading) {
<app-loader></app-loader>
}

<div class="profile-card">
  <div class="profile-header">
    <img
      [src]="user?.picture || 'apiurl/default.png'"
      alt="Profile Picture"
      class="profile-image"
    />
    <h2 class="profile-name">{{ user?.fullName }}</h2>
  </div>
  <div class="profile-details">
    <p><strong>First Name:</strong> {{ user?.firstName }}</p>
    <p><strong>Last Name:</strong> {{ user?.lastName }}</p>
  </div>

  <button color="primary" (click)="openChangePasswordDialog()" class="cta-btn">
    Change Password
  </button>
</div>
