<!-- Navigation Bar -->
<nav class="navbar">
  <div routerLink="/home" class="logo">
    <img src="assets/logo.png" alt="logo" />
  </div>
  <ul class="nav-links">
    <li routerLink="/hotels">Explore</li>
    <li routerLink="/homes">Entire Homes</li>
    <li routerLink="/bookings">My Reservations</li>
    <li routerLink="/new-add">New Listing</li>
  </ul>
  @if (!isMobile) {
  <div class="profile-menu">
    <img
      [src]="user?.picture"
      (click)="toggleProfileDropdown()"
      alt="Profile"
      class="profile-pic"
    />
    <ul class="dropdown-menu" [class.active]="profileDropdownActive">
      <li (click)="navigateToProfile()">Profile</li>
      <li (click)="onLogout()" class="logout">Logout</li>
    </ul>
  </div>
  }
  <div class="menu-toggle" (click)="toggleMobileMenu()">
    <mat-icon>menu</mat-icon>
  </div>
  <div class="side-menu" [class.active]="mobileMenuActive">
    <button class="close-btn" (click)="toggleMobileMenu()">
      <mat-icon>close</mat-icon>
    </button>
    <ul>
      <li (click)="toggleMobileMenu()" routerLink="/hotels">Explore</li>
      <li (click)="toggleMobileMenu()" routerLink="/homes">Entire Homes</li>
      <li (click)="toggleMobileMenu()" routerLink="/bookings">Reservations</li>
      <li (click)="toggleMobileMenu()" routerLink="/new-add">New Listing</li>
      <li (click)="toggleMobileMenu()" (click)="navigateToProfile()">
        Profile
      </li>
    </ul>
    <p (click)="onLogout()" class="log-out-btn">
      <mat-icon>logout</mat-icon> Logout
    </p>
  </div>
</nav>
