@import "../../../styles.scss";

mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

mat-form-field {
  width: 100%;
  padding-top: 2rem;

  .mat-icon-button[matSuffix] {
    margin-right: 8px;
  }
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;

  button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
  }
}

.cta-btn {
  padding: 0.8rem 1.5rem;
  background-color: $primary-color;
  color: white !important;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $text-color;
  }
}
