<h2 mat-dialog-title>Change Password</h2>

<mat-dialog-content>
  <form [formGroup]="changePasswordForm">
    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="newPassword"
        placeholder="Enter new password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="togglePasswordVisibility('newPassword')"
      >
        <mat-icon>{{
          hidePassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-error
        *ngIf="changePasswordForm.get('newPassword')?.hasError('required')"
      >
        Password is required
      </mat-error>
      <mat-error
        *ngIf="changePasswordForm.get('newPassword')?.hasError('weakPassword')"
      >
        Password must contain at least one uppercase letter, one number, and one
        special character.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="confirmPassword"
        placeholder="Confirm new password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="togglePasswordVisibility('confirmPassword')"
      >
        <mat-icon>{{
          hidePassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-error
        *ngIf="changePasswordForm.get('confirmPassword')?.hasError('required')"
      >
        Confirm password is required
      </mat-error>
      <mat-error
        *ngIf="
          changePasswordForm.hasError('mismatch') &&
          changePasswordForm.get('confirmPassword')?.touched
        "
      >
        Passwords do not match
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button
    mat-button
    color="primary"
    (click)="updatePassword()"
    [disabled]="changePasswordForm.invalid"
    class="cta-btn"
  >
    Update Password
  </button>
</mat-dialog-actions>
