<div class="card-check">
  <div class="custom-card">
    <div class="flex-col-center">
      <div class="icon-circle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="email-icon"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M16 12H8m12 8H4a2 2 0 01-2-2V6a2 2 0 012-2h16a2 2 0 012 2v12a2 2 0 01-2 2zM4 6l8 6 8-6"
          />
        </svg>
      </div>
      <h1 class="email-title">Check Your Email</h1>
      <p class="email-description">
        We've sent a confirmation email.<br />
        Please check your inbox to complete the registration
      </p>
      <div class="card-actions">
        <button class="btn-go-back" routerLink="/login">Back to Login</button>
      </div>
    </div>
  </div>
</div>
