<div class="form-container">
  <h2>Create a New Listing</h2>
  <form [formGroup]="hotelForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" formControlName="name" required />
      </div>

      <div class="form-group">
        <label for="location">Location</label>
        <input id="location" formControlName="location" required />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          id="description"
          formControlName="description"
          required
        ></textarea>
      </div>

      <div class="form-group">
        <label for="amenities">Services</label>
        <mat-form-field appearance="outline">
          <mat-label>Select Services</mat-label>
          <mat-select formControlName="amenities" multiple required>
            <mat-option *ngFor="let service of services" [value]="service._id">
              {{ service.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <label for="maxGuests">Maximum Guests</label>
        <input
          type="number"
          id="maxGuests"
          formControlName="maxGuests"
          required
        />
      </div>

      <div class="form-group">
        <label for="hotelType">Host Type</label>
        <mat-form-field appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select formControlName="hotelType" required>
            <mat-option *ngFor="let type of hotelTypes" [value]="type._id">
              {{ type.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <label for="pricePerNight">Price Per Night</label>
        <input
          type="number"
          id="pricePerNight"
          formControlName="pricePerNight"
          required
        />
      </div>

      <div class="form-group file-upload">
        <label for="photos" class="file-label">
          <span class="material-icons">attach_file</span>
          Upload Photos
        </label>
        <input
          type="file"
          id="photos"
          (change)="onFileChange($event)"
          multiple
        />
        <span class="file-names">{{ fileNames }}</span>
      </div>
    </div>

    <button [disabled]="hotelForm.invalid" type="submit" class="btn-submit">
      Add Hotel
    </button>
  </form>
</div>
