/* styles.scss */
$primary-color: #d6efe2;
$text-color: #5ec597;
$light-gray: #bfbfc6;
$border-color: #e1e5ff;

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  min-height: 100vh;
}

.app-footer {
  background-color: black;
  color: #ffffff;
  padding: 1rem 2rem;
  font-family: "Poppins", sans-serif;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    .footer-section {
      flex: 1;

      h4 {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0.3rem;
      }

      p {
        font-size: 0.8rem;
        color: #b3b3b3;
        line-height: 1.2;
        margin: 0;
      }

      .social-icons {
        display: flex;
        gap: 0.5rem;

        a {
          color: #b3b3b3;
          font-size: 1.2rem;
          transition: color 0.3s ease;

          &:hover {
            color: #ffffff;
          }
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;
    margin-top: 1rem;
    padding-top: 0.5rem;
    border-top: 1px solid #474b50;

    p {
      font-size: 0.7rem;
      color: #b3b3b3;
      margin: 0;
    }
  }
}

// Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Snackbar styles
.snackbar-error {
  --mdc-snackbar-container-color: #de1124 !important;
  --mat-mdc-snack-bar-button-color: #ffffff !important;
  --mdc-snackbar-supporting-text-color: #ffffff !important;
  --mat-snack-bar-button-color: #ffffff !important;
}

.snackbar-warning {
  --mdc-snackbar-container-color: #ffcc00 !important;
  --mat-mdc-snack-bar-button-color: #ffffff !important;
  --mdc-snackbar-supporting-text-color: #000000 !important;
  --mat-snack-bar-button-color: #000000 !important;
}

.snackbar-success {
  --mdc-snackbar-container-color: #28a745 !important;
  --mat-mdc-snack-bar-button-color: #ffffff !important;
  --mdc-snackbar-supporting-text-color: #ffffff !important;
  --mat-snack-bar-button-color: #ffffff !important;
}
