@if(isLoading) {
<app-loader></app-loader>
} @if (hotel) {
<div class="hotel-detail-container">
  <div class="photo-gallery">
    @for (photo of hotel.photos; track $index) {
    <ng-container>
      <img
        [src]="getImageUrl(photo)"
        alt="{{ hotel.name }}"
        class="gallery-photo"
      />
    </ng-container>
    }
  </div>

  <div class="hotel-info">
    <h1>{{ hotel.name }}</h1>
    <p class="hotel-description">{{ hotel.description }}</p>

    <div class="hotel-amenities">
      @for (amenity of hotel.amenities; track $index) {
      <span class="amenity-chip">
        {{ isAmenity(amenity) ? amenity.name : amenity }}
      </span>
      }
    </div>

    <form [formGroup]="bookingForm" class="date-range-picker">
      <div class="date-fields">
        <mat-form-field class="start-date" appearance="fill">
          <mat-label>Check-in Date</mat-label>
          <input
            matInput
            [matDatepicker]="pickerStart"
            formControlName="startDate"
            [min]="today"
            (dateChange)="onStartDateChange()"
            [matDatepickerFilter]="checkIfDateIsUnavailable"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerStart"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerStart></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="end-date" appearance="fill">
          <mat-label>Check-out Date</mat-label>
          <input
            matInput
            [matDatepicker]="pickerEnd"
            formControlName="endDate"
            [min]="bookingForm.get('startDate')?.value"
            (dateChange)="checkAvailability()"
            [matDatepickerFilter]="checkIfDateIsUnavailable"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerEnd"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerEnd></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="guest-container">
        <mat-form-field appearance="fill" class="guest-field">
          <mat-label>Number of Guests</mat-label>
          <input
            type="number"
            matInput
            formControlName="numberOfGuests"
            [max]="hotel.maxGuests"
            [min]="1"
          />
          <mat-hint>Maximum: {{ hotel.maxGuests }}</mat-hint>
        </mat-form-field>

        <button class="book-btn" (click)="bookHotel()">Book</button>
      </div>
    </form>
  </div>
</div>
}
