@if (isLoading) {
<app-loader></app-loader>
}

<div>
  <button mat-fab (click)="toggleFilters()" class="filter-button">
    <span class="material-icons">filter_list</span>
  </button>

  @if (showFilters) {
  <div class="filters" [formGroup]="filterForm">
    <div class="filter-input">
      <span class="material-icons icon">search</span>
      <input formControlName="searchQuery" placeholder="Search for hotels..." />
    </div>

    <div class="filter-input">
      <span class="material-icons icon">person</span>
      <input
        type="number"
        formControlName="maxGuests"
        placeholder="Number of guests"
      />
    </div>

    <div class="filter-input price-range" formGroupName="priceRange">
      <div class="price-inputs">
        <div class="filter-input-inner">
          <span class="material-icons icon">euro_symbol</span>
          <input type="number" formControlName="min" placeholder="Min price" />
        </div>
        <div class="filter-input-inner">
          <span class="material-icons icon">euro_symbol</span>
          <input type="number" formControlName="max" placeholder="Max price" />
        </div>
      </div>
    </div>

    <div class="filter-input">
      <mat-form-field class="service-multiselect" appearance="outline">
        <mat-label>Services</mat-label>
        <mat-select formControlName="services" multiple>
          @for (service of services; track $index) {
          <ng-container>
            <mat-option [value]="service.name">{{ service.name }}</mat-option>
          </ng-container>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="clear-filters">
      <button (click)="clearFilters()" class="clear-button">
        <span class="material-icons">clear_all</span> Clear Filters
      </button>
    </div>
  </div>
  } @if (!isLoading) {
  <div *ngIf="filteredHotels.length === 0">
    <p class="not-found">Home not found</p>
  </div>
  }

  <div class="hotel-list">
    <app-hotel-card
      *ngFor="let hotel of filteredHotels"
      [hotel]="hotel"
      (click)="goToHotelDetail(hotel._id!)"
    ></app-hotel-card>
  </div>
</div>
